.App {
  text-align: center;
}

.TodoItem {
  margin: 10px auto;
  width: 20%;
  height: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  /* border: 1px solid red; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.inputtodos{
  width: 15%;
  height: 20px;

}
.addbtn{
  width: 5%;
  height: 25px;
  margin-left: 5px;
}